* {
  box-sizing : border-box;
  margin:0px;
  padding: 0;
}

.navbar {
  background-color: none;
  position: fixed;
  margin:0 auto;
  left:0;
  right:0;
  box-shadow: 5px 5px 10px -10px rgb(8, 8, 36) ;
}

.navbarFixed{
  background-color: rgb(73, 132, 232);
}

#navbarLogo{
  color:rgb(73, 132, 232);
}

.mainBanner {
  /* background-image: url(../public/images/mainbanner.jpg); */
  background-color: rgb(248, 248, 248);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainText {
  color:rgb(63, 63, 63);
  text-align: center;
  padding: 150px 30px;
}

.mainButton {
  background-color: rgb(73, 132, 232);
  border: none;
  border-radius: 10px;
  width: 140px;
  height : 50px;
  font-size: 10pt;
  color:rgb(248, 248, 248);
  margin:auto;
  display: block;
}

.AboutMe{
  color:black;
  box-sizing : border-box;
  margin:0px;
  height: 500px;
}
.AboutMeTitle{
  margin-top: 50px;
  margin-left: 10%;
  color : rgb(73, 132, 232);
}
.abline {
  width: 1px;
  height: 400px;
  background-color: rgb(184, 184, 184);
  margin-left: 30%;
  float: left;
}
ul, li {
  list-style-type: none;
  float:left;
  display: block;
  margin-right: 15px;
}
.Skill {
  color:black;
  text-align: center;
  box-sizing : border-box;
  margin:0px;
  height: 600px;
}
.SkillTitle {
  margin-top: 30px;
}

.Project {
  color:white;
  box-sizing : border-box;
  margin:0px;
  height: 600px;
  background-color: rgb(73, 132, 232);
}
.ProjectTitle {
  margin-top: 30px;
}

.Footer {
  background-color: rgb(73, 132, 232);
  height: 300px;
}