* {
  box-sizing : border-box;
  margin:0px;
  padding: 0;
  color : white
}
.navbar {
  background-color: none;
  position:fixed;
}
#navbarLogo {
  color: white;
}
.navbarCategory {
  color:white;
}

.mainBanner {
  background-color: black;
  height: 600px;
}

.AboutMe, .Contact {
  color:black;
  text-align: center;
  box-sizing : border-box;
  margin:0px;
  height: 600px;
}

.Project {
  color:white;
  text-align: center;
  box-sizing : border-box;
  margin:0px;
  height: 600px;
  background-color: rgb(73, 132, 232);
}
.ProjectTitle {
  padding-top: 30px;
}

.AboutMeTitle, .ContactTitle {
  padding-top: 30px;
}

.Footer {
  background-color: rgb(73, 132, 232);
  height: 300px;
}