* {
  box-sizing : border-box;
  margin:0px;
  padding: 0;
}
.navbar {
  background-color: none;
}
#navbarLogo {
  color: white;
}
.navbarCategory {
  color:white;
}

.mainBanner {
  background-color: black;
  height: 600px;
}