* {
  box-sizing : border-box;
  margin:0px;
  padding: 0;
  color:rgb(63, 63, 63);
  
}

body {
  min-width: 400px;
}


#navbarLogo{
  color:rgb(73, 132, 232);
  font-weight: bold;
}

.navbar {
  background-color: white;
  /* position: fixed; */
  margin:0 auto;
  left:0;
  right:0;
  box-shadow: 5px 5px 10px -10px rgb(8, 8, 36) ;
}
.navbarFixed{
  background-color: rgb(73, 132, 232);
  color:white;
  position: fixed;
}

.Home {
  /* background-image: url(../public/images/mainbanner.jpg); */
  background-color: rgb(248, 248, 248);
  width:100vw;
  height: 100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title {
  color:rgb(73, 132, 232);
  font-size : 30pt;
  font-weight: bold;
}


.mainButtonFrom {
  background-color: rgb(73, 132, 232);
  border-radius: 10px;
  width: 110px;
  height : 40px;
  color:rgb(248, 248, 248);
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  cursor: pointer;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}
.mainButtonTo {
  opacity: 1;
}
.mainButtonFrom:hover {
  background-color: rgb(59, 112, 203);
}
.buttonBorderFrom {
  outline: 8px solid rgb(212, 227, 255);
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 1s;
}
.buttonBorderTo {
  opacity: 1;
}
.buttonBorderFrom2 {
  outline: 8px solid rgb(212, 227, 255);
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 1s;
}
.buttonBorderTo2 {
  opacity: 1;
}

.card {
  width: 70%;
  margin: 0 auto;
}
.CardWrap{
  padding: 60px;
}
.CardContainer {
  /* height: auto; */
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  grid-template-rows: auto;
  
}
.cardBox {
  margin-bottom: 30px;
  float: left;
  cursor: pointer;
  transform: translateY(100px);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  
}
.cardBoxTo {
  transform: translateY(0px);
  opacity: 1;
}
.cardBox:hover{
  transform: translateY(-30px);
}
.cardImg > img {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px -10px rgb(8, 8, 36) ;
  object-fit:cover;

}
.cardName {
  margin-top: 20px;
}
.cardContent {
  margin-top: 5px;
}


.detailContainer {
  display: grid;
  place-items: center;
  grid-gap: 50px;
  grid-template-rows: auto;
  /* overflow: hidden; */
  width: 100%;
}
.detailExamWrap {
  margin-top: 100px;
  height: auto;
}
.detailExample {
  width:100%;
  text-align: center;
}
.detailExamImgMoniter > img {
  width:60%;
  border-radius: 15px;
  border: 30px solid rgb(248, 248, 248);
  box-shadow: 5px 5px 10px -10px rgb(8, 8, 36) ;
}
.detailExamImgPhone > img {
  width:13%;
  border-radius: 15px;
  border: 15px solid rgb(240, 240, 240);
  box-shadow: 5px 5px 10px -10px rgb(8, 8, 36) ;
  position: absolute;
  right:15%; top:55%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.detailComment {
  text-align: center;
  margin-top: 100px;
}
.detailImgs {
  display: grid;
  place-items: center;
  grid-gap: 100px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 100px;
}
.detailImgs >img {
  width: 80%;
  background-color: rgb(251, 251, 251);
  padding:20px
}




.Footer {
  background-color: rgb(73, 132, 232);
  height: 300px;
  overflow: hidden;
  clear: both;
}
.ftLogo {
  color: white;
  margin-top: 50px;
  margin-left: 5%;
}
.ftSns {
  margin-top: 80px;
  float: right;
  margin-right: 5%;
  margin-bottom: 10px;
  cursor: pointer;
}
.ftSnsInsta {
  background-color: white;
  width:40px;
  height: 40px;
  border-radius: 10px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.ftSnsTalk{
  background-color: white;
  width:40px;
  height:40px;
  border-radius: 10px;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.ftCopyright{
  color:white;
  font-size:8pt;
  text-align: right;
  margin-right:5%;
  clear: both;
}


.AboutHeader {
  text-align: center;
  margin-top: 80px;
}
.abTabInfoFrom {
  width: 120px;
  height: 35px;
  font-size: 16px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding:5px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
.abTabInfoFrom:hover{
  background-color: rgb(73, 132, 232);
  color: white;
}
.abTabInfoTo{
  background-color: rgb(73, 132, 232);
  color: white;
}
.AboutBody{
  clear: both;
  margin-top: 60px;
  text-align: center;
}
.info {
  background-color: rgb(248, 248, 248);
  padding-top: 80px;
  padding-bottom: 80px;
}


.Skill {
  box-sizing : border-box;
  /* margin-bottom: 100px; */
  height: auto;
}
.SkillTitle {
  color: rgb(73, 132, 232);
  margin-top: 80px;
  margin-left: 10%;
}
.skillType {
  margin-top: 40px;
}
.skillIcon {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 15px;
  float: left;
}

.career {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
}
.careerTable{
  width: 80%;
  margin-top: 30px;
  margin:auto;
}

.contactContainer{
  padding-top: 150px;
  padding-bottom: 100px;
}
.contact{
  color:rgb(73, 132, 232);
  margin-bottom: 30px;
  background-color: white;
}
.contactBox {
  display: flex;
  justify-content: center;
}
.contactButton{
  width: 230px;
  height: 130px;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(229, 229, 229);
  color: rgb(180, 180, 180);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  cursor: pointer;
}
.contactButton > img {
  width: 40px;
  clear: both;
}

.btnGoTop {
  width:40px;
  height: 40px;
  background-color: rgb(73, 132, 232);
  border-radius: 100%;
  display: flex;
  justify-content : center;
  align-items : center;
  position:fixed;
  bottom:35px;
  right:30px;
  z-index:99;
}
.btnGoTop:hover {
  background-color: rgb(59, 112, 203);
  cursor : pointer;
}
.btnGoTop > img {
  width: 25px;
}

/* 스킵 버튼 스타일 */
/* .skipTyping {
  position: absolute;
  bottom:30px;
  opacity: 0.5;
}
.skipTyping:hover {
  cursor: pointer;
  opacity: 1;
} */


@media (max-width:1120px) {
  .detailExamImgMoniter > img {
    width:60%;
  }
  .detailExamImgPhone > img {
    right:15%; top:50%;
  }
}

@media (max-width:1050px) {
  .detailExamImgMoniter > img {
    width:70%;
  }
  .detailExamImgPhone > img {
    width:18%;
    right:10%; top:50%;
  }
}

@media (max-width:800px) {
  .card {
    width: 90%;
  }
  .CardWrap{
    padding: 60px;
  }
  .CardContainer {
    grid-template-columns: 1fr 1fr;
    
  }
  .abTabInfoFrom {
    width: 50%;
  }
  .detailExamImgMoniter > img {
    width:75%;
    border: 20px solid rgb(248, 248, 248);
  }
  .detailExamImgPhone > img {
    width:17%;
    right:5%; top:47%;
    border: 10px solid rgb(240, 240, 240);
  }
}

@media (max-width:680px) {
  .detailExamImgPhone > img {
    width:17%;
    right:5%; top:45%;
  }
}


/* contact 아이콘 작아지게 */
@media (max-width:600px) {
  .CardWrap{
    padding: 30px;
  }
  .CardContainer {
    grid-template-columns: 1fr;
  }
  .detailExamImgPhone > img {
    width:18%;
    right:5%; top:42%;
  }
}

@media (max-width:550px) {
  .detailExamImgMoniter > img {
    width:80%;
    border: 18px solid rgb(248, 248, 248);
  }
  .detailExamImgPhone > img {
    width:18%;
    right:5%; top:40%;
    border-radius: 10px;
  }
}

@media (max-width:400px) {
  .ftSnsInsta, .ftSnsTalk{
    width:35px;
    height: 35px;
    border-radius: 10px;
  }
  .detailExamImgMoniter > img {
    width:80%;
    border: 18px solid rgb(248, 248, 248);
  }
  .detailExamImgPhone > img {
    width:18%;
    right:5%; top:40%;
    border-radius: 10px;
  }
  .mainButtonFrom {
    margin-right: 5px;
    margin-left: 5px;
  }
}